*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 70px 0 70px;
}
a,ul{
  text-decoration: none;
  list-style-type: none;
}
/* navbar started */
.navbar-main{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #155BD5;
}
.navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
   
  }
  .navbar-left{
    display: flex;
    gap: 80px;
  }
.navbar-menu {
  display: flex;
  gap: 20px;
  align-items: center;
  }
  .navbar-menu > li > a {
    color:white;
    opacity: 0.5;
  }
  .navbar-menu > li > a:hover{
    opacity: 1;
    transition: all 0.4s ease;
  }
  #home{
    color: white;
    opacity: 1;
  }
  .navbar-right >a >img{
    width: 30px;
    height: 20 px;}
    
  /* navbar ended */

/* second section started */
.second-section{
   background-color: #155BD5;
}
.second-section-items{
  display: flex;
  padding-top: 50px;
}
.second-section-leftside{
  display: flex;
  align-items: center;
}
.second-leftside-text{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
  color: white;}

.second-leftside-text>h4{
  font-size: 50px;
}
.second-leftside-text>p{
  opacity: .7;
}
.second-section-rightside >img{
    border-radius: 8px;
    max-width: 100%;
}
.second-section-btn{
  display: flex;
  align-items: center;
}

.second-section-btn-details{
background-color: white;
border: none;
border-radius: 3px;
color: #155BD5;
font-weight: bold;
width: 140px;
height: 40px;
}
.second-section-btn-details:hover{
    border: 1px solid white;
    background-color: #155BD5;
    color: white;
}
.second-section-btn > a{
    color: white;
    margin: 0 10px;
    
}
/* second section ended */


/* third section started */

.third-section{
  display: flex;
 align-items: center;
 margin-top: 100px;
 gap: 50px;
 
}
.third-section-left{
  max-width: 100%;
 
}
.third-section-right{
   display: flex; 
  flex-direction: column; 
  gap: 25px;
}
.third-section-first-text> h6{
  font-size: 20px;
    }
.third-section-first-text> h2{
      font-size: 40px;
      
    }
    .third-section-nav{
    display: flex;
    border-radius: 5px;
    gap: 15px;
    align-items:center;
    height: 60px;
    background-color: #F3F3F3;
  }
  #frst-btn{
    background-color:#155BD5;
    color: white;
  }
  .third-section-btn{
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 40px;
  }
  .third-section-btn:hover{
    color: #155BD5;
    transition: all 0.5s ease;
  }

  .third-section-second-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color:#6d6d6d;
  }
  /* third section ended */

  /* fourth section started */
  .fourth-section-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  gap: 10px;
  margin: 90px 0 40px 0;
}
.service{
  border: 2px solid #155BD5;
  color: #155BD5;
  font-weight: bolder;
  text-align: center;
  width: 90px;
  height: 20px;
  border-radius: 30px;
  padding: 8px 30px;
}
#fourth-section-text{
  width: 500px;
  text-align: center;
  color: #6d6d6d;
}
.fourth-section-bottom{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
  .box{
    width: 25%;
    padding: 40px 30px;
    border: 1px solid rgba(37, 36, 36, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out; 
}
.box:hover{
    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.5);
    
}
.box:hover .icon>img {

    background-color: #155BD5;
  }

.box >p{
    color: #6d6d6d;
}
.icon > img{
color: white;
border: 2px solid #155BD5 ;
border-radius: 50%;
} 
/* fourth section ended */
 